﻿<div th:switch="${alunos}" th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <h2 class="mt-3 mb-3">Alunos</h2>
    <div th:case="*">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Matéria</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aluno : ${alunos}">
                <td th:text="${aluno.matricula}"></td>
                <td th:text="${aluno.nome}"></td>
                <td><a th:href="@{/aluno/{id}(id=${aluno.matricula})}" class="btn btn-primary">Disciplinas</a></td>
                <td><a th:href="@{/aluno/edit/{id}(id=${aluno.matricula})}" class="btn btn-secondary">Editar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>