<div th:switch="${disciplinas}" th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <h2 class="mt-3 mb-3">Disciplinas</h2>
    <div th:case="*">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Professor</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="disciplina : ${disciplinas}">
                <td th:text="${disciplina.codigo}"></td>
                <td th:text="${disciplina.nome}"></td>
                <td th:text="${disciplina.professor.nome}"></td>
                <td><a th:href="@{/disciplina/{id}(id=${disciplina.codigo})}" class="btn btn-primary">Alunos</a></td>
                <td><a th:href="@{/disciplina/edit/{id}(id=${disciplina.codigo})}" class="btn btn-secondary">Editar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>