<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <h2 class="mt-3 mb-3">Exportação dos dados</h2>
    <hr/>
    <h5 class="mt-3 mb-3">Clique abaixo para iniciar o download:</h5>
    <a th:href="@{/download-file}" download="saida.txt" class="btn btn-primary">Download</a>
    <hr/>
    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>
</div>