﻿<div th:switch="${professores}" th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <h2 class="mt-3 mb-3">Professores</h2>
    <div th:case="*">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Editar</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="professor : ${professores}">
                <td th:text="${professor.matricula}"></td>
                <td th:text="${professor.nome}"></td>
                <td><a th:href="@{/professor/edit/{id}(id=${professor.matricula})}" class="btn btn-secondary">Editar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>