﻿<form action="#"
      th:action="@{/aluno/update/{matricula}(matricula=${aluno.matricula})}"
      th:object="${aluno}"
      method="post"
      th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">

    <h2 class="mt-3 mb-3">Editar Aluno</h2>

    <div class="form-group row">
        <label for="nome" class="col-sm-2 col-form-label">Matrícula</label>
        <div class="col-sm-10">
            <label th:text="${aluno.matricula}"></label>
        </div>
    </div>

    <div class="form-group row">
        <label for="nome" class="col-sm-2 col-form-label">Nome</label>
        <div class="col-sm-10">
            <input type="text" th:field="*{nome}" id="nome" placeholder="Nome" class="form-control">
            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="form-text text-muted"></span>
        </div>
    </div>

    <input type="submit" value="Atualizar" class="btn btn-primary">
</form>