<form action="#"
      th:action="@{/disciplina/update/{codigo}(codigo=${disciplina.codigo})}"
      th:object="${disciplina}"
      th:fragment="content"
      method="post" xmlns:th="http://www.w3.org/1999/xhtml">

    <h2 class="mt-3 mb-3">Editar Disciplina</h2>

    <div class="form-group row">
        <label for="nome" class="col-sm-2 col-form-label">Código</label>
        <div class="col-sm-10">
            <label th:text="${disciplina.codigo}"></label>
        </div>
    </div>

    <div class="form-group row">
        <label for="nome" class="col-sm-2 col-form-label">Nome</label>
        <div class="col-sm-10">
            <input type="text" th:field="*{nome}" id="nome" placeholder="Nome" class="form-control">
            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="form-text text-muted"></span>
        </div>
    </div>

    <div class="form-group row">
        <label for="professor" class="col-sm-2 col-form-label">Professor</label>

        <div class="col-sm-10">
            <select th:field="*{professor}">
                <option th:each="professor_combo : ${professores}"
                        th:value="${professor_combo.matricula}"
                        th:text="${professor_combo.nome}">
                </option>
            </select>
        </div>
    </div>
    <input type="submit" value="Atualizar" class="btn btn-primary">
</form>