<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <h2 class="mt-3 mb-3">Importação dos dados de entrada</h2>
    <h4 class="mt-3 mb-3 text-danger">Atenção! Todos os dados anteriores serão removidos.</h4>
    <hr/>
    <h5 class="mt-3 mb-3">Arquivo a ser importado:</h5>
    <form method="POST" th:action="@{/upload-file}" enctype="multipart/form-data">
        <input type="file" name="file"/> <br/><br/>
        <button type="submit" class="btn btn-primary">Importar</button>
    </form>
    <hr/>
    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>
</div>