<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1 class="mt-4">Instituto Tecgraf - Processo Seletivo</h1>
    <h2 class="mt-4">João Paulo Silveira</h2>
    <p>Este é um dashboard de uma secretaria.</p>
    <p>Nele podemos importar e exportar o banco de dados, bem como visualizar as disciplinas, professores e alunos e, editar seus nomes</p>
</div>